/* Setting layout*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.container {
    max-width: 100%;
}

/* Header */
.container> header {
    background-color: pink;
    height: 150px;
}

div> .content {
    float: right;
}

header> img {
    margin-left: 20px;
}

.container> header> .contents> h1{
    padding-top: 45px;
    padding-right: 55%;
}
.container> header> .contents> h2{
    padding-right: 55%;
}


/* Menu */
.container> nav {
    float: none;
    text-align: center;
    line-height: 40px;
}

.menu> ul> li  {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}
.menu>ul {
    text-align: center;
    background-color: rgb(238, 197, 219);
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 3px;
}